name: Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  macOS:
    name: Test
    runs-on: macOS-15
    steps:
      - uses: actions/checkout@v3
      - name: Display tailwindcss commands in macOS
        run: swift package tailwindcss --help

  Linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Build Docker image
        run: docker build .
